:root {
  --primary: #004080;
  --secondary: #f4f4f4;
  --accent: steelblue;
  --light: #f0f8ff;
  --dark: darkblue;
  --border: #ccc;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 20px;
    padding: 0;
    line-height: 1.6;
    min-height: 100vh;
}
header {
    background-color: var(--primary);
    color: white;
    padding: 20px;
}
nav {
    background-color: #686868;
    padding: 10px;
    text-align: center;

}
nav a{
    margin: 0, 15px;
    color: var( --secondary);
    text-decoration: none;
}
label{
    display:block;
    margin-bottom: 5px;
    font-weight: bold;
}
/*
input[type]{
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #0e0d0d;
    border-radius: 5px;
}
input[type="email"]{
    color:blue;
    border: 1px solid red;
}*/

.form-box{
    max-width: 600px;
    margin:auto;
    border: 2px solid steelblue;
    padding: 20px;
    border-radius: 10px;
    background-color: #f0f8ff;
}

section{
    margin-bottom: 10px;
}

button{
    background-color: #004080;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenedor {
    display: flex;
    gap: 20px;
}
main{
    flex:1;
    order:1;
}
aside {
  width: 300px;
  background: #e9e9e9;
  padding: 15px;
  margin: 20px;  
  order:0;
}
footer{
    position: fixed;
    background-color: #004080;
    color:white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

.error{
    margin: 15px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: 2px solid #fa0404;
    background-color: #eb5050;
    border-radius: 5px;
    max-width: 600px;
}

.error a {
    color: var(--secondary);
}

.spinner-container{
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 9999;
    justify-content: center;
    align-items: center;
}

.spinner-container.hidden{
    display: none;
}

